# Node.js
node_modules/
api/node_modules/
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Build
/dist/
/build/

# Outros
*.sqlite
*.bak

# Cypress
cypress/videos/
cypress/screenshots/

# k6
k6-results.json

# Arquivos temporários
*.tmp
*.swp
*.swo
~*
# Arquivos pessoais/config do sistema
.bash_history
.lesshst
.emulator_console_auth_token
.h2.server.properties

# Diretórios de cache/usuário
.cache/
.history/
.idea/
.vscode/

# Executáveis e binários
*.exe
*.dll
*.pb

# JSONs de configuração local
installation_id
onboarding.json
onboarding.json.lock
user_settings.pb
UIHistory*
versions.json

# Logs extras
*.log
